### Exercises Part 1

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [53]:
# Use pandas to create a Series named fruits

In [6]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [58]:
type(fruits)

pandas.core.series.Series

In [44]:
# Determine the number of elements in fruits.

len(fruits)

17

In [59]:
fruits.size

17

In [45]:
# Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [19]:
# Output only the values from fruits.
fruit_vals = fruits.values

fruit_vals

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [20]:
# Confirm the data type of the values in fruits.
fruit_vals.dtype

dtype('O')

In [21]:
# Output only the first five values from fruits. 
# Output the last three values. Output two random 
# values from fruits.


fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [22]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [23]:
fruits.sample(2)

14    blackberry
8       honeydew
dtype: object

In [ ]:
# Run the .describe() on fruits to see what information
# it returns when called on a Series with string values.

In [24]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [25]:
# Run the code necessary to produce only the unique 
# string values from fruits.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [32]:
# Determine how many times each unique string value
# occurs in fruits.

In [62]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [47]:
df = pd.DataFrame({"name": ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]})

df

                name
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya

In [50]:
value_count = df["name"].value_counts()

value_count

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: name, dtype: int64

In [65]:
# Determine the string value that occurs most 
# frequently in fruits.


fruits_freq = fruits.value_counts()

In [66]:
fruits_freq.head()

kiwi          4
mango         2
strawberry    1
pineapple     1
gala apple    1
dtype: int64

In [68]:
# Determine the string value that occurs least 
# frequently in fruits.


fruits.value_counts()[fruits.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

#####

#####

### Exercises Part 2

In [75]:
# 1. Capitalize all the string values in fruits.

fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [82]:
# 2. Count the letter "a" in all the string values 
# (use string vectorization).

print(fruits[fruits.str.count('a')])

print(fruits.str.count('a'))

0         kiwi
1        mango
1        mango
1        mango
3    pineapple
1        mango
1        mango
1        mango
0         kiwi
0         kiwi
0         kiwi
0         kiwi
1        mango
0         kiwi
1        mango
0         kiwi
3    pineapple
dtype: object
0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [164]:
# 3. Output the number of vowels in each and every string value.

def is_vowel(x):
    vowels = 'a', 'e', 'i', 'o', 'u'
    count = 0
    for character in x:
        if character in vowels:
            count += 1

is_vowel

In [162]:
fruits[fruits.apply(is_vowel).count()]

'kiwi'

In [2]:
# review answer
# make a function, apply to series using .apply()

def count_vowels(some_string):
    counter = 0
    for letter in some_string:
        if letter in 'aeiou':
            counter += 1
    return counter

In [9]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [10]:
# fancy novel regex wat to solve this
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [106]:
# 4. Write the code to get the longest string value from fruits.

fruits.str.len().max()

16

In [14]:
# with fruit associated with ^

fruits[fruits.apply(len) == fruits.apply(len).max()]

5    honeycrisp apple
dtype: object

In [15]:
fruits[fruits.str.len() == fruits.str.len().max()]

5    honeycrisp apple
dtype: object

In [113]:
# 5. Write the code to get the string values with 5 or more letters in the name.

fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [124]:
# 6. Find the fruit(s) containing the letter "o" two or more times.

fruits[fruits.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

In [135]:
# 7. Write the code to get only the string values containing the substring "berry".

fruits[fruits.str.count('berry') >= 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [21]:
fruits.apply(lambda x: 'berry' in x)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [22]:
fruits.str.contains('berry')

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [136]:
# 8. Write the code to get only the string values containing 
# the substring "apple".

fruits[fruits.str.count('apple') >= 1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [20]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [29]:
# 9. Which string value contains the most vowels?

fruits[fruits.str.count('[aeiou]').max()]

'honeycrisp apple'

In [28]:
fruits[fruits.str.count('[aeiou]') == fruits.str.count('[aeiou]').max()]

5    honeycrisp apple
dtype: object

#####

#####

### Exercises Part 3

In [53]:
# 1. Which letter occurs the most frequently in the letters Series?

letters = pd.Series(
['hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'])

In [49]:
letters.describe()[]

SyntaxError: invalid syntax (4011339228.py, line 1)

In [50]:
# 2. Which letter occurs the Least frequently?

len([letters.value_counts().nsmallest(1, keep='all')])

1

In [51]:
# 4. How many consonants are in the Series?

In [54]:
len(letters[~letters.isin(['a','e','i','o','u'])])

1

In [57]:
numbers = pd.Series(['$796,459.41',
                     '$278.60',
                     '$482,571.67',
                     '$4,503,915.98',
                     '$2,121,418.3', '$1,260,813.3',
                     '$87,231.01', '$1,509,175.45',
                     '$4,138,548.00', '$2,848,913.80',
                     '$594,715.39',
                     '$4,789,988.17', 
                     '$4,513,644.5',
                     '$3,191,059.97',
                     '$1,758,712.24',
                     '$4,338,283.54',
                     '$4,738,303.38',
                     '$2,791,759.67',
                     '$769,681.94',
                     '$452,650.23'])

In [62]:
# 1. What is the data type of the numbers Series?

type(numbers)

pandas.core.series.Series

In [ ]:
# 2. How many elements are in the number Series?

In [68]:
numbers.size

20

In [59]:
len(numbers)

20

In [58]:
numbers.shape[0]

20

In [63]:
# 3. Perform the necessary manipulations by accessing 
# Series attributes and methods to convert the numbers 
# Series to a numeric data type.

In [65]:
# Turn the numbers into numbers but for real

numbers.str.replace(
    '$','', regex=False).str.replace(
    ',','', regex=False).astype(float)

0      796459.41
1         278.60
2      482571.67
3     4503915.98
4     2121418.30
5     1260813.30
6       87231.01
7     1509175.45
8     4138548.00
9     2848913.80
10     594715.39
11    4789988.17
12    4513644.50
13    3191059.97
14    1758712.24
15    4338283.54
16    4738303.38
17    2791759.67
18     769681.94
19     452650.23
dtype: float64

#####

#####