### Exercises Part 1

In [69]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [53]:
# Use pandas to create a Series named fruits

In [73]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [58]:
type(fruits)

pandas.core.series.Series

In [44]:
# Determine the number of elements in fruits.

len(fruits)

17

In [59]:
fruits.size

17

In [45]:
# Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [19]:
# Output only the values from fruits.
fruit_vals = fruits.values

fruit_vals

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [20]:
# Confirm the data type of the values in fruits.
fruit_vals.dtype

dtype('O')

In [21]:
# Output only the first five values from fruits. 
# Output the last three values. Output two random 
# values from fruits.


fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [22]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [23]:
fruits.sample(2)

14    blackberry
8       honeydew
dtype: object

In [ ]:
# Run the .describe() on fruits to see what information
# it returns when called on a Series with string values.

In [24]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [25]:
# Run the code necessary to produce only the unique 
# string values from fruits.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [32]:
# Determine how many times each unique string value
# occurs in fruits.

In [62]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [47]:
df = pd.DataFrame({"name": ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]})

df

                name
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya

In [50]:
value_count = df["name"].value_counts()

value_count

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: name, dtype: int64

In [65]:
# Determine the string value that occurs most 
# frequently in fruits.


fruits_freq = fruits.value_counts()

In [66]:
fruits_freq.head()

kiwi          4
mango         2
strawberry    1
pineapple     1
gala apple    1
dtype: int64

In [68]:
# Determine the string value that occurs least 
# frequently in fruits.


fruits.value_counts()[fruits.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

#####

#####

### Exercises Part 2

In [75]:
# 1. Capitalize all the string values in fruits.

fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [82]:
# 2. Count the letter "a" in all the string values 
# (use string vectorization).

print(fruits[fruits.str.count('a')])

print(fruits.str.count('a'))

0         kiwi
1        mango
1        mango
1        mango
3    pineapple
1        mango
1        mango
1        mango
0         kiwi
0         kiwi
0         kiwi
0         kiwi
1        mango
0         kiwi
1        mango
0         kiwi
3    pineapple
dtype: object
0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [164]:
# 3. Output the number of vowels in each and every string value.

def is_vowel(x):
    vowels = 'a', 'e', 'i', 'o', 'u'
    count = 0
    for character in x:
        if character in vowels:
            count += 1

is_vowel

In [162]:
fruits[fruits.apply(is_vowel).count()]

'kiwi'

In [106]:
# 4. Write the code to get the longest string value from fruits.

fruits.str.len().max()

16

In [113]:
# 5. Write the code to get the string values with 5 or more letters in the name.

fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [124]:
# 6. Find the fruit(s) containing the letter "o" two or more times.

fruits[fruits.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

In [135]:
# 7. Write the code to get only the string values containing the substring "berry".

fruits[fruits.str.count('berry') >= 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [136]:
# 8. Write the code to get only the string values containing 
# the substring "apple".

fruits[fruits.str.count('apple') >= 1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [139]:
# 9. Which string value contains the most vowels?

fruits[fruits.str.count('a', 'eiou')]

TypeError: unsupported operand type(s) for &: 'str' and 'int'

#####

#####

### Exercises Part 3

#####

#####